---
import Layout from '../../layouts/Layout.astro';
---

<Layout 
  description="Projects that are all scratching some itch, either technical or part of my interests" 
  title="Tinkerings | Dan Denney"
>
	<h1>Tinkerings</h1>
</Layout>
