---
import Layout from '../../layouts/Layout.astro';
---

<Layout 
  description="A list of posts that I really wanted to share or that I felt compelled to write because I didn't find it when I was looking." 
  title="Posts, aka Blog Posts | Dan Denney"
>
	<h1>Posts</h1>
</Layout>