---
// MainLayout.astro
//Import the Tracking ID
import RSSLink from './RSSLink.astro';

const gaSrc = `https://www.googletagmanager.com/gtag/js?id=G-39E050Z1SC`;
const isProd = import.meta.env.PROD;
---

<style>
  footer {
    background: #fff;
    bottom: 0;
    display: grid;
    left: 0;
    padding: 2rem 1rem;
    place-items: center;
    position: sticky;
    width: 100%;
  }


  .site-footer {
    color: #111;
    padding: 1rem 1rem 0;
  }

  .site-footer nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .site-footer .link:hover {
    transform: scale(1.1);
  }

  .site-footer .dan {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .site-footer {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .site-footer nav {
      margin-bottom: 0;
    }
  }
</style>

<footer class="site-footer bg-gray-50 grid items-center dark:bg-slate-800">
  <nav class="flex flex-wrap has-links gap-4">
    <a class="link" href="/">Home</a>
    <a class="link" href="/tinkerings">Tinkerings</a>
    <a class="link" href="/blips">Blips</a>
    <a class="link" href="/posts">Posts</a>
    <a class="link" href="/no-reserv-ai-tions">No ReservAItions</a>
    <RSSLink class="link" />
  </nav>
  <div class="dan has-links">
    <img alt="Illustration of Dan by Ricardo Gimenes" height="150" src="/dan-social-eb.svg" width="150" />
    <p class="max-w-xs	dark:text-slate-100">I'm hoping to run <a href="https://frontenddesignconference.com">front-end design conference</a> in St. Pete again ASAP!</p>
  </div>
</footer>

<!-- GA Scripts -->
{isProd && (
  <>
    <script async src={gaSrc}></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", 'G-39E050Z1SC');
    </script>
  </>
)}
