---

---

<section>
  <div class="cta">
    <div class="container">
      <div class="cta-holder">
        <div class="cta-title">
          <div class="cta-title-holder">Check out</div>
          <div class="cta-title-holder">Front-end conf</div>
        </div>
        <div class="cta-text">
          <div class="cta-text-holder">we&#x27;re bringing the conf back in April 2024!<br></div>
          <div class="cta-text-holder">10 speakers across two days, with plenty<br></div>
          <div class="cta-text-holder">of time for conversations<br></div>
        </div>
        <div class="start-circle">
          <a href="https://frontenddesignconference.com" class="start-holder w-inline-block">
            <div class="start-text mouse">Click me!</div>
            <div class="start-text touch">Tap me!</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
