---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import toTitleCase from '../../../helpers/toTitleCase.js'
import ReviewLinkItem from '../../../components/ReviewLinkItem.astro';
import ReviewLinkItemJs from '../../../components/ReviewLinkItemJs.astro';

export async function getStaticPaths() {
  const allReviews = await Astro.glob('../../../content/reviews/*.md');

  const uniqueCities = [...new Set(allReviews.map((review) => review.frontmatter.city).flat())];

  return uniqueCities.map((city) => {
    const filteredReviews = allReviews.filter((review) => 
      review.frontmatter.city.includes(city)
    ).map((review) => {
      // Extract the slug from the file path
      // This example assumes file names are suitable for use as slugs
      const slug = review.file.split('/').pop().replace(/\.md$/, '');
      return { ...review, slug };
    });

    return {
      params: { city },
      props: { reviews: filteredReviews },
    };
  });
}

const { city } = Astro.params;
const { reviews } = Astro.props;

---

<!doctype html>
<html lang="en" transition:animate="fade">
	<head>
		<BaseHead title="No ReservAItions" description="Reviews of food, music, and events with the help of AI" />
	</head>
	<body class="bg-slate-50 dark:bg-slate-900">
		<Header />
		<main class="bg-slate-50 dark:bg-slate-900 relative shadow z-10 dark:text-slate-200" style="min-height: 90dvh;">
			<section class="max-w-screen-xl mx-auto pb-24 pt-8 px-4">
				<h2 class="border-b text-center text-4xl font-bold pb-4 tracking-tight text-gray-900 dark:text-slate-100 md:flex-shrink-0 md:text-left xl:border-0 xl:text-6xl">{toTitleCase(city)}</h2>
				<ul class="mt-8">
					{reviews.map((review) => {
						return(
						  <ReviewLinkItem review={review} />
					)})}
				</ul>
      </section>
		</main>
		<Footer />
    <ReviewLinkItemJs />
	</body>
</html>