---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE } from '../../consts';

const blips = (await getCollection('blips')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en" data-wf-page="65c96ce4beedf24f0e18a232" data-wf-site="65c96ce3beedf24f0e18a1dd">	
	<head>
		<BaseHead title="Blips | Dan Denney" description="Shorter than a blog post, longer than a tweet" />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="page-wrapper blips">
			<div data-w-id="25fb3cfa-79fa-201a-bbfe-3eb0a49e8b6d" class="hero-section-secondary blips-header">
				<div class="container">
					<div data-w-id="0ce5212f-91ca-3c96-3011-158f503e0728" class="main-blog-grid">
						<div class="main-blog-grid-text-holder-item">
							<h5 style="opacity:0;-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="blog-category"></h5>
							<h1 style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="blog-details-main-title">Blips</h1>
							<p style="opacity:0;-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="blog-post-summary">Shorter than a blog post, longer than a tweet. This is where I share quick reactions or stash things I want to remember.</p>
						</div>
						<div class="main-blog-grid-item _1">
							<div style="opacity:0;-webkit-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="main-blog-image-holder">
								<img src="/andora/blip.svg" loading="lazy" alt="illustration of a blip" class="main-blog-image" />
							</div>
						</div>
					</div>
				</div>
				<div class="section-background"></div>
			</div>
			<section class="section blips-list">
        <div class="container">
          <div class="home-blog-wrapper w-dyn-list">
            <div role="list" class="blog-grid w-dyn-items">
              {blips.map((blip) => (
                <div role="listitem" class="blog-item w-dyn-item">
                  <a href={`/blips/${blip.slug}/`} class="blog-item-link w-inline-block">
                    <div class="blog-item-content">
                      <div class="blog-item-category">
                        <div class="blog-item-date"></div>
                      </div>
                      <h2 class="blog-item-title">{blip.data.title}</h2>
                      <p class="blog-item-summary">{blip.data.summary}</p>
                    </div>
                  </a>
                </div>
                ))
              }
            </div>
          </div>
        </div>
        <div class="section-background"></div>
      </section>
		</main>
		<Footer />
	</body>
</html>
