---
import TinkeringHead from '../components/TinkeringHead.astro';

const { summary, title } = Astro.props;
---

<html lang="en">
	<head>
		<TinkeringHead title={title} description={summary} />
	</head>
	<body>
		<main>
    	<slot />
		</main>
	</body>
</html>
